.img-custom{
   max-width: 120px;
   max-height: 100px;
   /* display: inline!important; */
}
.btn-custom{
    max-height: 50px;
}
.fav{
    background-color: rgb(157, 235, 245);
    border-radius: 5px;
}